apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lrmetrics-data
  namespace: lrmetrics
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  # storageClassName: default  # uncomment to pin a specific StorageClass
